In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('E:\Python\ML Projects\data\Airbnb_Data.csv')
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 29 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               73911 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      55812 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           67239 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    57389 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74020 non-null  float64
 28  beds                    73980 non-null  float64
dtypes: bool(1), float64(7), int64(3), object(18)
memory usage: 15.9+ MB

In [8]:
df.isnull().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   0
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                          0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
thumbnail_url              8216
zipcode                     966
bedrooms                     91
beds                        131
dtype: int64

In [9]:
df['has_reviews'] = df['review_scores_rating'].notnull().astype(int)
df['review_scores_rating'] = df['review_scores_rating'].fillna(df['review_scores_rating'].median())

In [10]:
df['host_response_rate'] = df['host_response_rate'].fillna(0)
df['host_experience_years'] = 2026 - pd.to_datetime(df['host_since']).dt.year

In [11]:
df['bathrooms'] = (
    df.groupby('room_type')['bathrooms'].transform(lambda x: x.fillna(x.median()))
)

In [12]:
df['bedrooms'] = (
    df.groupby('room_type')['bedrooms'].transform(lambda x:x.fillna(x.median()))
)

In [13]:
df['beds'] = (
    df.groupby('room_type')['beds'].transform(lambda x:x.fillna(x.median()))
)

In [15]:
df.isnull().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                     0
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   0
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate            0
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                          0
neighbourhood              6872
number_of_reviews             0
review_scores_rating          0
thumbnail_url              8216
zipcode                     966
bedrooms                      0
beds                          0
has_reviews                   0
host_experience_years       188
dtype: int64

In [16]:
df['neighbourhood'] = df['neighbourhood'].fillna('Unknown')
df['zipcode_missing'] = df['zipcode'].isnull().astype(int)

In [17]:
df['has_images'] = df['thumbnail_url'].notnull().astype(int)

In [18]:
df.isnull().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                     0
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   0
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate            0
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                          0
neighbourhood                 0
number_of_reviews             0
review_scores_rating          0
thumbnail_url              8216
zipcode                     966
bedrooms                      0
beds                          0
has_reviews                   0
host_experience_years       188
zipcode_missing               0
has_images                    0
dtype: int64

### Encoding Categorical Variable

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74111 entries, 0 to 74110
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      74111 non-null  int64
 1   log_price               74111 non-null  float64
 2   property_type           74111 non-null  object
 3   room_type               74111 non-null  object
 4   amenities               74111 non-null  object
 5   accommodates            74111 non-null  int64
 6   bathrooms               74111 non-null  float64
 7   bed_type                74111 non-null  object
 8   cancellation_policy     74111 non-null  object
 9   cleaning_fee            74111 non-null  bool
 10  city                    74111 non-null  object
 11  description             74111 non-null  object
 12  first_review            58247 non-null  object
 13  host_has_profile_pic    73923 non-null  object
 14  host_identity_verified  73923 non-null  object
 15  host_response_rate      74111 non-null  object
 16  host_since              73923 non-null  object
 17  instant_bookable        74111 non-null  object
 18  last_review             58284 non-null  object
 19  latitude                74111 non-null  float64
 20  longitude               74111 non-null  float64
 21  name                    74111 non-null  object
 22  neighbourhood           74111 non-null  object
 23  number_of_reviews       74111 non-null  int64
 24  review_scores_rating    74111 non-null  float64
 25  thumbnail_url           65895 non-null  object
 26  zipcode                 73145 non-null  object
 27  bedrooms                74111 non-null  float64
 28  beds                    74111 non-null  float64
 29  has_reviews             74111 non-null  int32
 30  host_experience_years   73923 non-null  float64
 31  zipcode_missing         74111 non-null  int32
 32  has_images              74111 non-null  int32
dtypes: bool(1), float64(8), int32(3), int64(3), object(18)
memory usage: 17.3+ MB

In [22]:
df['first_review']

0        2016-06-18
1        2017-08-05
2        2017-04-30
3               NaN
4        2015-05-12
            ...
74106           NaN
74107    2016-08-15
74108    2015-01-03
74109           NaN
74110    2013-09-05
Name: first_review, Length: 74111, dtype: object

In [31]:
cat_cols = []
for col in df.columns:
    if df[col].dtype == 'object':
        cat_cols.append(col)

OR <br>
cat_cols = df.select_dtypes(include=['object']).columns

In [32]:
cat_cols

['property_type',
 'room_type',
 'amenities',
 'bed_type',
 'cancellation_policy',
 'city',
 'description',
 'first_review',
 'host_has_profile_pic',
 'host_identity_verified',
 'host_response_rate',
 'host_since',
 'instant_bookable',
 'last_review',
 'name',
 'neighbourhood',
 'thumbnail_url',
 'zipcode']

In [34]:
df[cat_cols].nunique().sort_values(ascending=False)

description               73479
name                      73359
amenities                 67122
thumbnail_url             65883
host_since                 3087
first_review               2554
last_review                1371
zipcode                     769
neighbourhood               620
host_response_rate           81
property_type                35
city                          6
cancellation_policy           5
bed_type                      5
room_type                     3
instant_bookable              2
host_has_profile_pic          2
host_identity_verified        2
dtype: int64

In [35]:
cardinalitydf = pd.DataFrame({
    'unique_count' : df[cat_cols].nunique(),
    'unique_pct' : df[cat_cols].nunique() / len(df) * 100
}).sort_values(by='unique_count',ascending=False)

In [36]:
cardinalitydf

                        unique_count  unique_pct
description                    73479   99.147225
name                           73359   98.985306
amenities                      67122   90.569551
thumbnail_url                  65883   88.897734
host_since                      3087    4.165374
first_review                    2554    3.446182
last_review                     1371    1.849928
zipcode                          769    1.037633
neighbourhood                    620    0.836583
host_response_rate                81    0.109296
property_type                     35    0.047226
city                               6    0.008096
cancellation_policy                5    0.006747
bed_type                           5    0.006747
room_type                          3    0.004048
instant_bookable                   2    0.002699
host_has_profile_pic               2    0.002699
host_identity_verified             2    0.002699